# Ignora tutto
*

# Tieni le cartelle
!*/

# Codice sorgente
!*.c
!*.h
!*.java
!Makefile
!makefile
!*.config
!*.py

# Documenti e materiali
!*.pdf
!*.md
!*.txt
!*.png

# Tieni anche .gitignore stesso
!.gitignore
